<!--::regervation_part start::-->
<section class="regervation_part section_padding" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <h2>Signup</h2>
                    <!-- <h3 style="color: white;">{{name | asterix }}</h3> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form [formGroup]="signupForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputEmail4" placeholder="First Name *"
                                    formControlName="firstName">
                            </div>

                            <div
                                *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched )">

                                <div *ngIf="signupForm.controls['firstName'].errors.required" class="text-danger">
                                    First Name is required
                                </div>
                                <div *ngIf="signupForm.controls['firstName'].errors.minlength" class="text-danger">
                                    First Name must have at least 3 characters
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name *"
                                    formControlName="lastName">
                            </div>
                            <div
                                *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched )">

                                <div *ngIf="signupForm.controls['lastName'].errors.required" class="text-danger">
                                    Last Name is required
                                </div>
                                <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="text-danger">
                                    Last Name must have at least 3 characters
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputPassword4"
                                    placeholder="Email address *" formControlName="email">
                            </div>
                            <div
                                *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched )">

                                <div *ngIf="signupForm.controls['email'].errors.required" class="text-danger">
                                    Email is required
                                </div>
                                <div *ngIf="signupForm.controls['email'].errors.email" class="text-danger">
                                    Invalid Email
                                </div>
                            </div>
                            <div style="color: red;">
                                {{errMsg}}
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Password *"
                                    formControlName="password">
                            </div>
                            <div
                                *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched )">

                                <div *ngIf="signupForm.controls['password'].errors.required" class="text-danger">
                                    Password is required
                                </div>
                                <div *ngIf="signupForm.controls['password'].errors.minlength" class="text-danger">
                                    Password must have at least 8 characters
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="inputPassword4"
                                    placeholder="Confirm Password *" formControlName="confirmPassword">
                            </div>
                            <div *ngIf="signupForm.controls['confirmPassword'].invalid && (
                                signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched)">
                                <div *ngIf="signupForm.controls['confirmPassword'].errors.mustMatchError" class="text-danger">
                                    Confirm Pwd does not match PWD
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="tel" class="form-control" id="inputPassword4" placeholder="Tel *"
                                    formControlName="tel">
                            </div>
                            <div
                                *ngIf="signupForm.controls['tel'].invalid && (signupForm.controls['tel'].dirty || signupForm.controls['tel'].touched )">

                                <div *ngIf="signupForm.controls['tel'].errors.required" class="text-danger">
                                    Tel is required
                                </div>
                                <div *ngIf="signupForm.controls['tel'].errors.minlength" class="text-danger">
                                    Invalid tel
                                </div>
                                <div *ngIf="signupForm.controls['tel'].errors.maxlength" class="text-danger">
                                    Invalid tel
                                </div>
                            </div>

                        </div>


                        <div class="regerv_btn">
                            <button class="btn_4" (click)="signup()">Signup</button>
                        </div>
                    </form>
                    {{signupForm.value | json}} <br>
                    {{signupForm.valid | json}}
                </div>
            </div>
        </div>
    </div>
</section>
<!--::regervation_part end::-->