<!--::Add Plat start::-->
<section class="regervation_part section_padding" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Edit Chef</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form [formGroup]="editChefForm">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="email" formControlName="name" [(ngModel)]="findedChef.name" class="form-control" id="inputEmail4" placeholder="Name *">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text"  formControlName="speciality" [(ngModel)]="findedChef.speciality" class="form-control" id="inputEmail4" placeholder="Speciality *">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text"  formControlName="experience" [(ngModel)]="findedChef.experience" class="form-control" id="inputEmail4" placeholder="Experience *">
                            </div>
                        </div>
                        <div class="regerv_btn">
                            <button class="btn_4" (click)="editChef()">Edit Chef</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::Add Plat end::-->